header {
    text-align: left;
    color:#213555;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #FFFF;
    font-size: 180%;
}

.name {
    width: 100px;
    float: left;
    padding: 14px 16px;
    font-family: Segoe UI;
    }

.main{
    text-align: center;
    color:#213555;
    padding: 5%;
    background-color: #F5EFE7;
    font-family: Arial, Helvetica, sans-serif;
    display: flexbox;
}
p {
    font-size: 120%;
    margin: 20px; 
}
a {
    text-decoration: transparent;
    background-color: transparent;
    color:#213555;
}

hr {
    color: #3E5879;
}

/*
Paleta de cor usada: https://colorhunt.co/palette/2135553e5879d8c4b6f5efe7 
*/
