hr {
    color: #3E5879;
}

h1 {
    font-size: 300%;
}

h2 {
    font-size: 200%;
}

.name {
    width: 100px;
    float: left;
    padding: 14px 16px;
    }
.sites{
    color:#213555;
}
.content-main{
    text-align: center;
    color:#213555;
    padding: 5%;
    background-color: #F5EFE7;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    font-size: 120%;
    margin: 20px; 
}
a {
    text-decoration: transparent;
    background-color: transparent;
    color:#213555;
}


.myheader {
    text-align: left;
    color:#213555;
    background-color: white;
    border: 1px solid #FFFF;
    font-size: 180%;
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    align-items: center;

}

.myheader img {
    width: 50px;
    margin-right: 20px;
}

/*
Paleta de cor usada: https://colorhunt.co/palette/2135553e5879d8c4b6f5efe7 
*/
